<h1>Crear Usuario</h1>
 
 

<% if current_user %>
    <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'Iniciar Sesion', new_user_registration_path %>
    <%= link_to 'Registrarse', new_user_session_path %>
<% end %>