
/*
html {
 background-image: url(branding/fondo.jpg);
}

body {
    background-color: transparent !important;
    color: white !important;

}
*/


label {
    float: left;
    margin-top: 7px;
    margin-bottom: 2px !important;
    width: 85px;
    text-align: left;
    margin-left: 12px;
}

#dato_genero {
    width: 200px;
}



#dato_actividad {
    width: 200px;
}




#dato_altura {
    width: 200px;
}

#dato_peso {
    width: 200px;
}

#dato_cuello {
    width: 200px;
}

#dato_cintura {
    width: 200px;
}

#dato_cadera {
    width: 200px;
}


.actions > input:nth-child(1) {
    width: 200px;
    margin-right: 13px;
}

html body div.container.mt-3 div.col-md-8.offset-md-2.text-center form div.col-md-6.offset-md-3.text-center.border.rounded.p-3 div.field div.field div.actions {
    text-align: right;
}


a {
    color: black !important;
    text-decoration: none !important; /* no underline */
    display: block !important;
  }


  a:hover {
    text-decoration: none !important; /* no underline */
    display: block !important;
  }


  body{ margin:0px; background:#000; }

#bg_container{ width:100%; height:1500px; z-index: -10; overflow:hidden; position: fixed; }
#bg{ width:130%; height:1500px; z-index: -999;position: fixed; left: -300px; top:-100px; }
#content{ position:fixed; top:0px; z-index: 999; height: 1500px; width: 100%; background-color: rgba(216, 216, 216, 0.7);}
.container {height: 1500px;}



#bg_container.unclickable  { text-decoration: none; }
#bg_container.unclickable:hover { cursor: default; }
